$imagen: url(../imagenes/fondoNaranja.png);
$color: rgb(54, 54, 54);


*{
    padding: 0%;
    margin: 0%;
}


header{
    display: flex;
    justify-content: center;

    background-image: $imagen;
    
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;


    margin-top: 0;
    position: sticky;
    top: 0;

    height: 68px;

    nav{
        display: flex;
        justify-content: center; 
        align-items: center;
        height: 60px;

        ul{
            display: flex;
            li{
                display: inline-block;

                a{
                    color: black;
                    text-decoration: none;
                    margin-right: 1rem;
                    margin-left: 5px;
                    font-size: 20px;
                    font-family: 'Plus Jakarta Sans', sans-serif;
                }
            }
        }
    }
}

.oscuro{
    
   header{

    background-color:rgb(37, 37, 37) ;
    background-image: none;
    .navBar{
        background-color: rgb(37, 37, 37);
       ul{
           li{
            color: white;
           }
        }
    }
    

   } 

    main{
        background-color: black;
        color: white;
    }

    .footer{
        background-color: rgb(37, 37, 37);
        background-image: none;
        color: white;
    }
    .backGround{
        background-image: none;
    }

    .redesHijos{
        background-image: none;
        background-color: rgb(37, 37, 37);
    }
}

.boton{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 3px;
    background-color: $color;
    border-color: $color;
}

.margin {
    margin: 4px;
}
.color{
    background-color: $color;
    border-color: $color;
}
.navBar{
    margin: 0rem;
    padding: 0rem;
    border-radius: 10px;
   
}
main{
    background-color: $color;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.precentation{

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

p{
    font-size: 2rem;
}

h1{
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    padding: 5px;
}
h3{
    font-size: 1rem;
    margin: 1rem;
}
.pieDeFoto{
    font-size: 20px;
    padding: 20px;    
}


.back{
    background-image: $imagen;
}

footer{
    background-image:$imagen;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-bottom:0 ;
    color:black ;
}


.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;

    grid-template-areas: 
    "contacto marcas redes";
}

.contacto{
    grid-area: contacto;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}
.marcas{
    grid-area: marcas;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}
.redes{
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}

.redesHijos {
    display: flex;
    
    img{
        display: flex;
        padding: 5px;
        justify-content: center;
    }
}



.logoClutch img{
    display: flex;
    width: 4vw;
    justify-content: center;
    align-items: center;
    
}


.backGround{
    background-image: $imagen;
}

