$imagen: url(../imagenes/fondoNaranja.png);
$color: rgb(54, 54, 54);

*{
    padding: 0%;
    margin: 0%;
}


header{
    display: flex;
    justify-content: center;

    background-image: $imagen;
    
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;


    margin-top: 0;
    position: sticky;
    top: 0;

    height: 60px;

    nav{
        display: flex;
        justify-content: center; 
        align-items: center;

        ul{
            display: flex;
            li{
                display: inline-block;

                a{
                    color: black;
                    text-decoration: none;
                    margin-right: 1rem;
                    font-size: 40px;
                    font-family: 'Plus Jakarta Sans', sans-serif;
                }
            }
        }
    }
}
main{
    background-color: $color;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.back{
    background-image: $imagen;
}

footer{
    background-image:$imagen;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-bottom:0 ;
    color:black ;
}


.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;

    grid-template-areas: 
    "contacto marcas redes";
}

.contacto{
    grid-area: contacto;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}
.marcas{
    grid-area: marcas;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}
.redes{
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}

.redesHijos {
    display: flex;
    
    img{
        display: flex;
        padding: 5px;
        justify-content: center;
    }
}



.logoClutch img{
    display: flex;
    width: 5vw;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 1rem 1rem 1rem 1rem;
}


.backGround{
    background-image: $imagen;
}