@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Plus+Jakarta+Sans&display=swap');
@import "generales";


*{
    padding: 0%;
    margin: 0%;
}


.navBar{
    margin: 0rem;
    padding: 0rem;
}



main{
    background-color: rgb(107, 107, 107);
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.margin{
    margin: 1rem;
}

h1{
    font-size: 80px;
}

h4{
    padding: 5px;
}

#presentacion{
    font-size: 20px;
    margin: 20px 10px 20px 10px
}

.subtitulo{
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 10px;
    margin: 10px 10px 10px 10px

}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 5px 10px ;
}

.pieDeFoto{
    font-size: 20px;
    padding: 20px;    
}

.transition:hover{
    transform: scale(1.2);
    transition: all 1s;
}



.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0,2fr 1,5fr 1,2fr 0,8fr;

    grid-template-areas:
    "header header header header" 
    "main main main main"
    "footer footer footer footer";

}

.header{
    grid-area: header;
}
.principal{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.precentation{
    display: grid;
    justify-content: center;
    align-items: center;
}


.galeria{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
}
.galeria{
    display: flex;

    img{
    width: 30vw;
    height: 55vh;
    }
}
.principal h1{
    display: flex;
    justify-content: center;
}
.galeria .pieDeFoto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#galeriaIndex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 10% 90%;
    grid-template-areas:
    "subtitulo subtitulo"
    "foto foto";
}
.galeriaInd{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "subtitulo subtitulo"
    "foto foto";
}
.subtitulo{
    grid-area: subtitulo;
}
.fotoPadre{
    grid-area: foto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galeriaProt{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-areas:
    "fotoUno fotoDos";
}

.fotoUno{
    grid-area: fotoUno;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotoDos{
    grid-area: fotoDos;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotoUno img{
    width: 30vw;
    height: 50vh;
}
.fotoDos img{
    width: 30vw;
    height: 50vh;
}
#tituloProt{
    display: flex;
    justify-content: center;
    margin: 0rem 1rem 1rem 1rem;
}



.fotoPadre{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center; 
    column-gap: 10%;

    img{
        width: 40vw;
        height: 65vh;
    }
}

.fotoPadre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif{
    display: grid;
    justify-content: center;
    align-items: center;
}


@media(max-width:750px){

    .grilla{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0,2fr 1,5fr 1,2fr 0,8fr;
    
        grid-template-areas:
        "header" 
        "main"
        "footer";
    
    }

    #galeriaIndex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "subtitulo"
        "foto"
        "foto";
    }

    .galeriaInd{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 90%;
        grid-template-areas: 
        "subtitulo"
        "foto";
    }
    .fotoPadre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "fotoUno"
        "fotoDos";
    }
    
    #galeriaProt{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "fotoUno"
        "fotoDos";
    }
    

    .footer{
        display: grid;
        grid-template-columns: 1fr;
    
        grid-template-areas: 
        "contacto" 
        "marcas"
        "redes";
    }

}
